$shadow: 0 3px 7px rgba(0, 0, 0, 0.25);

.page-wrapper {
  padding: 30px;
  position: relative;
}
.columns-wrapper {
  display: flex;
  overflow-x: auto;
  background: #f0f8ff;
  width: 100%;
  height: 100vh;
  padding: 15px;
}
.column {
  flex-grow: 1;
  min-width: 280px;
  max-width: 280px;
  padding: 15px;
  background: #fff;
  box-shadow: $shadow;
}
.form-wrapper {
  position: absolute;
  padding: 15px;
  top: 55px;
  background: #fff;
  box-shadow: $shadow;
}
