$shadow: 0 3px 7px rgba(0, 0, 0, 0.25);

.page-wrapper {
  padding: 30px;
  position: relative;
}
.columns-wrapper {
  display: flex;
  overflow-x: auto;
  background: #f0f8ff;
  background: #333333;
  width: 100%;
  height: 100vh;
  padding: 15px;
}
.column {
  flex-grow: 1;
  min-width: 280px;
  max-width: 280px;
  padding: 15px;
  background: #fff;
  box-shadow: $shadow;
  h3 {
    margin: 0 0 15px;
  }
}
.form-wrapper {
  position: absolute;
  padding: 15px;
  top: 55px;
  background: #fff;
  box-shadow: $shadow;
}
.task {
  padding: 10px;
  box-shadow: $shadow;
}
.task-form-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.55);
  form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: $shadow;
    padding: 15px;
    width: 100%;
    max-width: 600px;
  }
  input,
  textarea {
    display: block;
    padding: 5px;
    border: 1px solid #dedede;
    margin: 5px 0 15px;
    width: 100%;
  }
  textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 150px;
  }
}
.error {
  color: red;
}
