$shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
$blue: blue;
$green: green;
$red: #ff3c3b;
$cancel: #e9c14a;
$border: #dedede;
.page-wrapper {
  padding: 30px;
  position: relative;
}
.columns-wrapper {
  display: flex;
  overflow-x: auto;
  background: #f0f8ff;
  width: 100%;
  height: 100vh;
  padding: 15px;
}
.column {
  flex-grow: 1;
  min-width: 280px;
  max-width: 280px;
  padding: 15px;
  background: #fff;
  box-shadow: $shadow;
  border-radius: 10px;
  margin: 0 10px 0 0;
  transition: all ease 0.3s;
  h3 {
    flex-grow: 1;
    margin: 0;
  }
  &__heading {
    display: flex;
    align-items:center;
    form {
      padding:0 5px;
      border: 1px solid $border;
      border-radius: 3px;
      input{
        padding:5px;
        border: none;
        outline: none;
      }
      &:focus{
        border: 1px solid $blue;
      }

    }
  }
}

.action-button {
  cursor: pointer;
  background: transparent;
  padding: 0;
  display: inline-block;
  border: none;
  margin: 0 2px;
  &.blue {
    color: $blue;
  }
  &.green {
    color: $green;
  }
  &.red {
    color: $red;
  }
}

.form-wrapper {
  position: absolute;
  padding: 15px;
  top: 55px;
  background: #fff;
  box-shadow: $shadow;
  input {
    padding: 5px;
    border: 1px solid #dedede;
    margin: 0 15px 0 0;
  }
}
.task {
  padding: 10px;
  box-shadow: $shadow;
}
.task-form-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.55);
  form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: $shadow;
    padding: 15px;
    width: 100%;
    max-width: 600px;
  }
  input,
  textarea,
  select {
    display: block;
    padding: 5px;
    border: 1px solid #dedede;
    margin: 5px 0 15px;
    width: 100%;
  }
  textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 150px;
  }
}
.button {
  padding: 5px 10px;
  margin: 0 10px 10px 0;
  border-radius: 15px;
  height: 30px;
  line-height: 18px;
  cursor: pointer;
  transition: all ease 0.3s;
  &:focus {
    outline: 1px dotted grey;
  }
  &.blue {
    border: 1px solid $blue;
    background: $blue;
    color: #fff;
    &:focus {
      background: #fff;
      color: $blue;
    }
    @media screen and (min-width: 1200px) {
      &:hover {
        background: #fff;
        color: $blue;
      }
    }
  }
  &.green {
    border: 1px solid $green;
    background: $green;
    color: #fff;
    &:focus {
      background: #fff;
      color: $green;
    }
    @media screen and (min-width: 1200px) {
      &:hover {
        background: #fff;
        color: $green;
      }
    }
  }
  &.red {
    border: 1px solid $red;
    background: $red;
    color: #fff;
    &:focus {
      background: #fff;
      color: $red;
    }
    @media screen and (min-width: 1200px) {
      &:hover {
        background: #fff;
        color: $red;
      }
    }
  }
  &.cancel {
    border: 1px solid $cancel;
    background: $cancel;
    color: #fff;
    &:focus {
      background: #fff;
      color: $cancel;
    }
    @media screen and (min-width: 1200px) {
      &:hover {
        background: #fff;
        color: $cancel;
      }
    }
  }
}
.error {
  color: $red;
}

.margin {
  &-top {
    &-15{
      margin-top: 15px;
    }
  }
}
